/* FONTS ---------------------------------------------------------- */

$bold: Futura,Helvetica,Arial,sans-serif;
$bold-italic: Futura,Helvetica,Arial,sans-serif;
$regular: Futura,Helvetica,Arial,sans-serif;
